.wholeCalendar{
    display: flex;
}
.imageCalendar{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    position: relative;
    object-fit: contain;
}
.imageCalendar img{
    max-width: 100%;
}