.fastStats {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fastStats__items{
    display: flex;
    gap: 1em;
}

/*De los labels: */
/* progress: */
progress[value] {
    --background: radial-gradient(50% 50%, var(--progress-var) 98%, #0000) top/10% 10% no-repeat,
    conic-gradient(var(--progress-var) calc(var(--p) * 1%), #0000 0);

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
    background: var(--background);
    -webkit-mask: radial-gradient(50% 50%, #0000 79%, #000 80% 100%, #0000 102%);
    mask: radial-gradient(50% 50%, #0000 79%, #000 80% 100%, #0000 102%);
}

progress[value]::-webkit-progress-bar {
    background: var(--background);
}

progress[value]::-webkit-progress-value {
    background: #0000;
}

progress[value]::-moz-progress-bar {
    background: #0000;
}

.fastStats_label {
    --w: 160px; /* the width*/
    --c: var(--progress-var); /* the color */

    font-size: 20px;
    font-weight: bold;
    display: inline-grid;
    place-content: center;
    width: var(--w);
    aspect-ratio: 1;
    position: relative;
}

.fastStats_label::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 45%;
    background: var(--c);
    transform: rotate(calc(var(--p) * 3.6deg)) translateY(calc(50% - var(--w) / 2));
}