.ProfileCreater {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100dvh;
}

/* Animación del título */
.animated-title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--color6-var);
    display: inline-block;
    overflow: hidden;
}

/* Animación para BoxProfile */
.boxProfile-animation {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Apartado de los botones: */
.profileCreater_buttons_div{
    position: relative;
    display: flex;
    gap: 1rem;
    opacity: 0;
    animation: fadeIn 1s ease forwards;

}
.profileCreator_button{
    position: relative;
    border: none;
    padding: 0.7rem 3em;
    cursor: pointer;
    background-color: var(--color1-var);
    border-radius: 5px;
}
.profileCreator_button:hover{
    background-color: #bdcecb;
}
.profileCreator_button:active{
    background-color: var(--button-hover);
    color: var(--button-hover-bg);
}

/* Botones: */

.ProfileCreater button{
    border: none;
    padding: 0.7rem 3rem;
    cursor: pointer;
    border-radius: 5px;
    transition: scale 0.3s;
    &:hover{
        scale: 1.05;
    }
}

.BackToLoginButton{
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    background-color: var(--color5-var);
    color: #ffffff;
}
.AccountCreateButton{
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    background-color: var(--color1-var);
    color: #ffffff;
    font-family: "Proxima Nova Bold", sans-serif;
    font-size: 1.2rem;
}