.settings-container {
    height: 35em;
    margin-bottom: 6em;
}

.bento-grid-settings {
    position: relative;
    width: 100%;
    display: flex;
    height: 100%;
    /*background-color: #f19f9f;*/
}

/*inicio del bento*/
/*left*/
.settings-left {
    display: flex;
    flex-direction: column;
    flex: 2;
    /*background-color: #0b8ac5;*/
}

/*left-top*/
.settings-left-top {
    display: flex;
    padding: 1em;
    justify-content: center;
    flex: 1; /*background-color: #7b2ab0;*/
}

/*left-bot*/
.settings-left-bot {
    display: flex;
    flex: 2;
    /*background-color: #9566b4;*/
}

/*right*/
.settings-right {
    display: flex;
    flex-direction: column;
    flex: 1;
    /*background-color: #1ea7fd;*/
}

/*right-top*/
.settings-right-top {
    display: flex;
    flex: 2;
    /*background-color: #37bd32;*/
}

/*right-bot*/
.settings-right-bot {
    display: flex;
    flex: 1;
    /*background-color: #688a67;*/
}


/* Apartado lo tengo que quitar xddd*/
.select-money{
    display: flex;
    height: 3em;
    width: 7em;
    margin: 5em;
}